[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djongo = "*"
pymongo = "==3.12.1"
scipy = "*"
whitenoise = "*"
django = {git = "https://github.com/miguel-martinr/django.git"}
django-cors-headers = "*"
deepviewcore = {path = "./../deepviewcore/dist/deepviewcore-0.1.4.tar.gz"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
