[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djongo = "*"
pymongo = "==3.12.1"
deepviewcore = {path = "C:/Users/migue/Documents/U/4to/TFG/DeepViewCore/dist/deepviewcore-0.1.2.tar.gz"}
django = "==3.1.12"
django-ranged-response = "*"
scipy = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
